extends index

block form
	form(method="post", id="loginform", action="/login")
		p
			label Username
			input(type='text', id='username', name='username')
		p
			label Password
			input(type='password', id="password", name='password')
		p
			input(type='submit')

	